.partners-contract {

	.partners-contract-text {
		text-align: justify;

		.header {
			text-align: center;
			font-weight: bold;
			padding: 20px;
		}

		.paragraph {
			text-indent: 30px;
		}

		.right {
			float: right;
		}

		.requisites {
			width: 355px;
		}

		.printer-target {
			text-indent: 60px;
		}
	}
}