.partnersContract {

	.partnersContractЕext {

		.header {
			text-align: center;
			font-weight: bold;
			padding: 20px;
		}

		.paragraph {
			text-indent: 30px;
		}

		.right {
			float: right;
		}

		.requisites {
			width: 355px;
		}

		.printerTarget {
			text-indent: 60px;
		}
	}
}