include ../../main

block meta
	title Фирмы онлайн | Фотографии #{name}
	meta(name="keywords", content="фирмы онлайн, фотографии")
	meta(name="description", content="Фотографии компании #{name}.")

block body
	//