include ../../main

block meta
	title Фирмы онлайн | #{name} на карте
	meta(name="keywords", content="фирмы онлайн, компания на карте")
	meta(name="description", content="Расположение компании #{name} на карте.")

block body
	//