extends ../../main

block meta
	title Фирмы онлайн | Список отзывов о #{name}
	meta(name="keywords", content="фирмы онлайн, отзывы о компании")
	meta(name="description", content="Список отзывов о компании #{name}.")

block body
	//