extends shared/public-base

block content
	.container
		.row.presentation-row
			.presentation-block.col-md-4(itemscope, itemtype="http://schema.org/ImageObject")
				img(itemprop="contentUrl", src='/static/img/client3.svg', alt='Визуальный поиск')
				.name(itemprop="name") Визуальный поиск
				p(itemprop="description").
					Никакой простыни
					текста - поиск на основе
					графического
					представления. Лучше
					воспринимается
					людьми, по этой же
					причине в телефонах
					используются иконки
					приложений, а не
					текстовый список.
			.presentation-block.col-md-4(itemscope, itemtype="http://schema.org/ImageObject")
				img(itemprop="contentUrl", src='/static/img/client5.svg', alt='Телефоны и планшеты')
				.name(itemprop="name") Телефоны и планшеты
				p(itemprop="description").
					Сайт специально
					оптимизирован под
					мобильные устройства, а
					значит и каждая
					компания сразу получает
					возможность быть
					доступной и для
					мобильных клиентов.
			.presentation-block.col-md-4(itemscope, itemtype="http://schema.org/ImageObject")
				img(itemprop="contentUrl", src='/static/img/client6.svg', alt='Enterprise')
				.name(itemprop="name") Enterprise
				p(itemprop="description").
					Сайт использует
					промышленные
					стандарты технологий,
					используемые в
					банковской среде.
		.row
			.presentation-block.col-md-4(itemscope, itemtype="http://schema.org/ImageObject")
				img(itemprop="contentUrl", src='/static/img/client2.svg', alt='Информация важнее')
				.name(itemprop="name") Информация важнее
				p(itemprop="description").
					Человек ищет что-то,
					чтобы решить свою
					проблему, ему нужна
					информация. Устройство
					и дизайн нашего сайта
					единообразен, это
					позволяет сразу
					получать информацию,
					пропустив этап изучения
					и привыкания к каждому
					новому сайту.
			.presentation-block.col-md-4(itemscope, itemtype="http://schema.org/ImageObject")
				img(itemprop="contentUrl", src='/static/img/client1.svg', alt='Интерактив')
				.name(itemprop="name") Интерактив
				p(itemprop="description").
					Все данные компании
					разделены на отдельные
					логические вкладки,
					вместе являющиеся
					микро-презентацией
					компании.
			.presentation-block.col-md-4(itemscope, itemtype="http://schema.org/ImageObject")
				img(itemprop="contentUrl", src='/static/img/client4.svg', alt='Коротко и по делу')
				.name(itemprop="name") Коротко и по делу
				p(itemprop="description").
					Описание компаний
					содержит только важную
					для эффективного
					ознакомления
					информацию, никакой
					перегрузки новостями,
					статьями и прочим
					второстепенным.