extends ../../main

block meta
	title Фирмы онлайн | Информация для клиентов
	meta(name="keywords", content="фирмы онлайн, для клиентов, презентация")
	meta(name="description", content="Информация для клиентов.")

block body
	h1 Презентация
	div(itemscope, itemtype="http://schema.org/ImageObject")
		h2(itemprop="name") Визуальный поиск
		img(itemprop="contentUrl", src='/resources/img/client3.svg', alt='Визуальный поиск')
		span(itemprop="description").
			Никакой простыни
			текста - поиск на основе
			графического
			представления. Лучше
			воспринимается
			людьми, по этой же
			причине в телефонах
			используются иконки
			приложений, а не
			текстовый список.
	div(itemscope, itemtype="http://schema.org/ImageObject")
		h2(itemprop="name") Телефоны и планшеты
		img(itemprop="contentUrl", src='/resources/img/client5.svg', alt='Телефоны и планшеты')
		span(itemprop="description").
			Сайт специально
			оптимизирован под
			мобильные устройства, а
			значит и каждая
			компания сразу получает
			возможность быть
			доступной и для
			мобильных клиентов.
	div(itemscope, itemtype="http://schema.org/ImageObject")
		h2(itemprop="name") Enterprise
		img(itemprop="contentUrl", src='/resources/img/client6.svg', alt='Enterprise')
		span(itemprop="description").
			Сайт использует
			промышленные
			стандарты технологий,
			используемые в
			банковской среде.
	div(itemscope, itemtype="http://schema.org/ImageObject")
		h2(itemprop="name") Информация важнее
		img(itemprop="contentUrl", src='/resources/img/client2.svg', alt='Информация важнее')
		span(itemprop="description").
			Человек ищет что-то,
			чтобы решить свою
			проблему, ему нужна
			информация. Устройство
			и дизайн нашего сайта
			единообразен, это
			позволяет сразу
			получать информацию,
			пропустив этап изучения
			и привыкания к каждому
			новому сайту.
	div(itemscope, itemtype="http://schema.org/ImageObject")
		h2(itemprop="name") Интерактив
		img(itemprop="contentUrl", src='/resources/img/client1.svg', alt='Интерактив')
		span(itemprop="description").
			Все данные компании
			разделены на отдельные
			логические вкладки,
			вместе являющиеся
			микро-презентацией
			компании.
	div(itemscope, itemtype="http://schema.org/ImageObject")
		h2(itemprop="name") Коротко и по делу
		img(itemprop="contentUrl", src='/resources/img/client4.svg', alt='Коротко и по делу')
		span(itemprop="description").
			Описание компаний
			содержит только важную
			для эффективного
			ознакомления
			информацию, никакой
			перегрузки новостями,
			статьями и прочим
			второстепенным.