include ../../main

block meta
	title Фирмы онлайн | Регистрация
	meta(name="keywords", content="фирмы онлайн, регистрация")
	meta(name="description", content="Регистрация в поисковой системе.")

block body
	//