extends ../../main

block meta
	title Фирмы онлайн
	meta(name="keywords", content="фирмы онлайн, компании, услуги, отзывы о компании")
	meta(name="description", content="Поиск информации: компании, услуги, отзывы и многое другое.")

block body
	form(action='/api/search/', method='GET')
		img(src='/resources/img/logo.svg', alt='логотип компании')
		br
		h1 Визуальная поисковая система компаний и услуг
		label Искать
			input(id='search', name='query', type='search')
			input(id='from', name='start', type='hidden', value='0')
			input(id='colunt', name='limit', type='hidden', value='10')
			input(id='send', type='submit')