.company-summary {

	.property {

		.title {
			font-weight: bold;
			padding: 1px;
		}

		a {
			text-decoration: none;
			color: darken($base-color, 30%);
		}
	}

	&-tablet {
		.property {
			width: 300px;
			padding: 2px;
		}
	}

	&-mobile {
		.property {
			width: 100%;
			padding: 0 2px 18px 2px;
		}
	}

	.separator {
		$border: 1px solid lighten($base-color, 30%);

		&-vertical {
			border-left: $border;
		}

		&-horizontal {
			border-top: $border;
		}
	}
}