.company-reviews-list {

	.review-item {
		padding: 15px 10px;

		.star {
			display: inline-block;
			padding: 5px 0;
		}

		.name,
		.header,
		.description,
		.id {
			padding: 4px 0;
		}

		.name,
		.header {
			font-weight: bold;
		}

		.id {
			opacity: .5;
		}

		&.#{$prefix}view-item-focused {
			outline: 0 !important;
		}
	}

	.empty-reviews {
		margin: 20px;
	}
}