doctype html
html
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', href="css/all.css")
	body
		.top-menu
			a.for-clients Клиентам
			a.for-partners Партнерам
			a.about-us О нас
			a.right.register Регистрация
			a.right.login Вход
		.main-container
			.head-logo
				.logo Логотип
				.description Все компании на одном сайте
			block page
		.go-to-top
			.text вверх