doctype html
html
	head
		meta(charset='UTF-8')
		link(rel='stylesheet', href="css/all.css")
		script(src='js/jquery.js')
		script(src='js/global/goToTop.js')
		script(src='js/search/loader.js')
		script(src='js/search/category.js')
		script(src='js/search/result.js')
	body
		.top-menu
			a.for-clients Клиентам
			a.for-partners Партнерам
			a.about-us О нас
			a.right.register Регистрация
			a.right.login Вход
		.main-container
			.head-logo
				.logo AC
				.description Все компании на одном сайте
			block page
		.go-to-top
			.text вверх