extend head

block page
	.search
		.city Москва
		input.input
		.button найти
	.categories
		.as-tabs
			.tab.selected все
			.tab кафе
			.tab автомойки
			.tab развлечения
			.tab магазины
			.tab клиники
			.more еще
				.burger
					.line
					.line
					.line
		.as-input
			input.input
			.button
	.search-result
		.item
		.item
		.item
		.item
		.item
		.item
		.item
		.item
		.item
		.item
		.item
		.item
		.item
		.item
		.item
		.item
	.more-loader
		.shadow-container
			.shadow
		.waiter
			.go-to-top