ul
	li: a(href='/page-root-search') Поиск
	li: a(href='/page-root-clients') Клиентам
	li: a(href='/page-root-contacts') Контакты
	li: a(href='/page-root-login') Вход
	li: a(href='/page-root-register') Регистрация