nav
	div(style='padding: 30px'): a(href='/page-root-search') Поиск
	br
	div(style='padding: 30px'): a(href='/page-root-clients') Клиентам
	br
	div(style='padding: 30px'): a(href='/page-root-contacts') Контакты
	br
	div(style='padding: 30px'): a(href='/page-root-login') Вход
	br
	div(style='padding: 30px'): a(href='/page-root-register') Регистрация
	div(style='padding: 15px')