.clients-offer {

	.clients-offer-text {
		text-align: justify;

		.header {
			font-weight: bold;
			padding: 20px 0;

			&.center {
				text-align: center;
			}
		}

		.list-item {
			text-indent: 15px;
			text-align: left;
		}

		.no-wrap {
			white-space: nowrap;
		}
	}
}