extends ../main

block meta
	title Фирмы онлайн | #{name}
	meta(name="keywords", content="фирмы онлайн, информация о компании, контакты")
	meta(name="description", content="Информация и контакты компании #{name}")

block body
	//