body {
	.#{$prefix}panel-body-default,
	.#{$prefix}container,
	.#{$prefix}form-item-label-default,
	.#{$prefix}form-display-field-default,
	.#{$prefix}field-input .#{$prefix}clear-icon{
		color: white;
	}

	.#{$prefix}tab-active,
	.#{$prefix}toolbar-default,
	.#{$prefix}message-box,
	.#{$prefix}slider-thumb {
		text-shadow: none;
	}

	.#{$prefix}form-error-msg {
		text-shadow: 1px 1px 0 black;
	}

	.#{$prefix}menu {
		background: #2d2d2d;

		.#{$prefix}button {
			background: transparent;
		}
	}

	.#{$prefix}form-inner {
		background: transparent;

		.#{$prefix}button {
			background: transparent;
		}
	}
}

.grey-back {
	background: grey url(/resources/img/background.jpeg);
	background-size: cover;

	.#{$prefix}panel-body-default {
		background: transparent;
	}
}

.#{$prefix}msgbox,
.no-gray-back {
	background: white;
	text-shadow: none;
	color: #404040 !important;
}

.#{$prefix}button-search .#{$prefix}fa.fa-search,
.#{$prefix}fa.fa-bars {
	text-shadow: 2px 2px 2px #2d2d2d;
}