extends ../../../main

block meta
	title Фирмы онлайн | Отправка отзыва о #{name}
	meta(name="keywords", content="фирмы онлайн, отзывы о компании")
	meta(name="description", content="Отправка отзыва о компании #{name}.")

block body
	//