$button-background-color: white;
$button-color: $base-color;
$button-icon-color: $base-color;
$button-pressed-color: $base-color;
$button-border-color: $base-color;
$button-pressed-border-color: $base-color;

.#{$prefix}button {
	&-search-with-text {
		color: white;
		background-color: $base-color;
	}

	&-search-with-text &-icon {
		color: white;
		margin-right: 0.3em;
	}
}