extends ../../../main

block meta
	title Фирмы онлайн | Публичная оферта
	meta(name="keywords", content="фирмы онлайн, публичная оферта")
	meta(name="description", content="Публичная оферта для клиентов.")

block body
	//