extends ../skeleton.jade

block meta
	meta(name='keywords', content='контакты, почта, телефон, реквизиты компании, ООО "Простые числа"')
	meta(name='description', content='Контакты, включая юридические данные и банковские данные.')

block body
	div(role="listbox", aria-hidden="false", aria-disabled="false", id="dataview-1105", tabindex="0")
		div(role="option", tabindex="-1")
			img(src="/resources/img/contacts1.svg")
			div Единая связь
			div По любому вопросу вы всегда можете написать на почту <a href="mailto:w@фирмы.онлайн" data-tabindex-value="none" tabindex="-1" data-tabindex-counter="1">w@фирмы.онлайн</a> или позвонить на номер <a href="tel:+79251546879">+7 (925) 154-68-79</a>
		div(role="option", tabindex="-1")
			img(src="/resources/img/contacts2.svg")
			div Юридические данные
			div ООО «Простые числа»<br>129345, г. Москва, ул. Тайнинская, д.26,<br> пом. I, комн. 1 ОГРН 1167746406805 ИНН/КПП 7716823512/771601001
		div(role="option", tabindex="-1")
			img(src="/resources/img/contacts3.svg")
			div Банковские реквизиты
			div Р/сч: 40702810201270006807 БИК: 044583999 Кор/сч: 30101810600000000999 в Ф ОНЛАЙН ПАО "ХАНТЫ-МАНСИЙСКИЙ БАНК ОТКРЫТИЕ"